html {
	font-size: 10px;
}

@media only screen and (max-width:1024px) {
	html {
		font-size: 9.411764705882353px;
	}
}
@media only screen and (max-width:768px) {
	html {
		font-size: 10px;
	}
}
@media only screen and (max-width:400px) {
	html {
		font-size: 9.411764705882353px;
	}
}

html, body {
	height: 100%;
}

body {
	background: #595959;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.7rem;
	line-height: 3rem;
	color: #6e6e6e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    text-align: center;
    position: relative;
    top: -20%; /* Move the container upwards by 20% */
    z-index: 1;
}


#image-input {
    display: none; /* hide the default file input */
}

#custom-button {
    background-color: #d9d20b;
    color: #3f3f3f;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
}

#selected-image {
    max-width: 200px;
    max-height: 200px;
    margin-top: 20%;
}

#loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: #d9d20b; /* Yellow color for the loading indicator */
}

#description {
    margin: 0 12%;
    margin-top: 20%;
    color: white;
    font-weight: bold;
}

/* Navigation Bar */
#navbar {
  /* Position a navbar at the bottom of the screen */
    left: 0;
    position: fixed; 
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    height: 8%;
    display: flex;
    justify-content: space-between; /* Space out the items */
    align-items: center;
    z-index: 2;
  }

  #navbar img {
    width: 84px;
    height: 50px;
    margin: 0 20px;
    cursor: pointer;
  }

  /* Sliding Window */
  #sliding-window {
    position: fixed;
    bottom: -100%; /* Initially hide below the screen */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9c9c9c;
    transition: bottom 0.5s ease; /* Smooth transition effect */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  #close-window {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #d9d20b;
  }

  h2 {
    color: black;
  }

  #button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px; /* Add space between h2 and the button container */
    margin-bottom: 20%;
    background-color: white; /* Common background color for the button container */
    border-radius: 15px; /* Round corners for the button container */
  }
  
  .sliding-button {
    padding: 9px 15px;
    background-color: white; /* Default background color for buttons */
    color: #d9d20b; /* Default text color for buttons */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold; /* Bold text */
  }
  
  .selected-button {
    background-color: #d9d20b; /* Background color for the selected button */
    color: white; /* Text color for the selected button */
  }
  
  #information-box {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5%; /* Add space between button-container and information-box */
    text-align: left;
    position: relative;
  }
  
  #profile-picture {
    width: 50px;
    height: 50px;
    background-color: rgb(78, 98, 209);
    border-radius: 50%; /* Create a circular profile picture */
    display: inline-block;
    position: absolute; /* Positioned absolutely for top left */
    margin-right: 20px; /* Add space between the profile picture and text */
  }
  
  #profile-info {
    display: inline-block;
    vertical-align: top; /* Align text to the top */
    padding-left: 70px;
  }
  
  #name {
    font-weight: bold;
    color: black;
    margin-bottom: 0; /* Remove the gap between name and speciality */
    margin-top: 0; /* Align the name with the top of the profile picture */
  }
  
  #speciality {
    color: #797979; /* Example color for speciality */
    margin: 0; /* Shortened margin property */
    line-height: 20px;
    font-weight: bold;
  }

  #availability-box {
    background-color: #d9d20b;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px; /* Add space between profile-info and availability-box */
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
  }
  
  #date-info,
  #time-info {
    display: flex;
    align-items: center;
    margin: auto 10px;
    font-weight: bold;
  }
  
  #date-info i,
  #time-info i {
    margin-right: 10px;
  }
  
  #date-info p,
  #time-info p {
    margin: 0;
  }

  #analyzing-text {
    display: none;
    font-weight: bold;
    margin-top: 10px;
    color:#d9d20b;
  }
  
  #analyzing-text.loading:after {
    content: 'Analyzing...';
    animation: dots 1s infinite; /* Animation for the dots */
  }
  
  @keyframes dots {
    50% {
      opacity: 0;
    }
  }

  /* Emergency */

  #custom-sliding-window {
    position: fixed;
    top: 40px;
    right: -101%; /* Initially positioned outside the view */
    width: 98%;
    height: 100%;
    background-color: white;
    border: 3px solid red;
    border-radius: 15px;
    transition: right 0.3s ease-in-out; /* Transition effect for sliding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #custom-close-window {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  #custom-sliding-content {
    padding: 20px;
    text-align: center; /* Center the content */
  }

  #custom-sliding-content img {
    max-width: 70%; /* Make sure the image doesn't exceed the container width */
    max-height: 70%; /* Make sure the image doesn't exceed the container height */
    margin-top: -150px; /* Move the image up by 20px */
  }