html {
	font-size: 10px;
}

@media only screen and (max-width:1024px) {
	html {
		font-size: 9.411764705882353px;
	}
}
@media only screen and (max-width:768px) {
	html {
		font-size: 10px;
	}
}
@media only screen and (max-width:400px) {
	html {
		font-size: 9.411764705882353px;
	}
}

html, body {
	height: 100%;
}

body {
	background: #595959;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.7rem;
	line-height: 3rem;
	color: #6e6e6e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    text-align: center;
    position: relative;
    top: -20%; /* Move the container upwards by 20% */
    z-index: 1;
}


#image-input {
    display: none; /* hide the default file input */
}

#custom-button {
    background-color: #d9d20b;
    color: #3f3f3f;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
}

#selected-image {
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
}

#loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: #d9d20b; /* Yellow color for the loading indicator */
}

#description {
    margin: 0 12%;
    margin-top: 20%;
    color: white;
    font-weight: bold;
}

/* Navigation Bar */
#navbar {
  /* Position a navbar at the bottom of the screen */
    left: 0;
    position: fixed; 
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    height: 8%;
    display: flex;
    justify-content: space-between; /* Space out the items */
    align-items: center;
    z-index: 2;
  }

  #navbar img {
    width: 84px;
    height: 50px;
    margin: 0 20px;
    cursor: pointer;
  }

  /* Sliding Window */
  #sliding-window {
    position: fixed;
    bottom: -100%; /* Initially hide below the screen */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9c9c9c;
    transition: bottom 0.5s ease; /* Smooth transition effect */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  #close-window {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #d9d20b;
  }

  h2 {
    color: black;
  }

  #button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px; /* Add space between h2 and the button container */
    background-color: white; /* Common background color for the button container */
    border-radius: 15px; /* Round corners for the button container */
  }
  
  .sliding-button {
    padding: 8px 35px;
    background-color: white; /* Default background color for buttons */
    color: #d9d20b; /* Default text color for buttons */
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold; /* Bold text */
  }
  
  .selected-button {
    background-color: #d9d20b; /* Background color for the selected button */
    color: white; /* Text color for the selected button */
  }
  